{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	},
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"es6": true
	},
	"rules": {
		"semi": ["error", "always"],
		"no-var": "error",
		"prefer-const": "error",
		"quotes": ["error", "single"],
		"no-trailing-spaces": "error",
		"indent": ["error", "tab"],
		"eqeqeq": "error",
		"eol-last": ["error", "always"],
		"keyword-spacing": "error",
		"react/prop-types": "off",
		"react/display-name": ["enabled", { "ignoreTranspilerName": true }]
	}
}